header {
  padding: 20px 20px 0 20px;

  .identity {
    float:left;
    margin:0;
    a {
      text-decoration: none;
      display: block;
      width: 263px;
      height: 88px;
      float: left;

    }
  }

  .parent-id {
    float:right;
    margin: 0;
    a {
      text-decoration: none;
      display: block;
      width: 88px;
      height: 88px;
      float: left;
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
      background-image: url('../img/bsu-logo.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      clear: left;
    }
  }
  nav {
//    float:right;
    ul {
//      float:right;

    }
    li {
//      display: inline-block;
    }
    a {
//      color: $white;
//      text-decoration: none;
//      font-size: 20px;
//      text-transform: uppercase;
//      padding: 20px;
//      float: left;
    }
  }
  .search{
    padding:12% 20% 12% 20%;
  }
}

.search {
  clear:both;
  padding:1em 0 0 0;
  @include clearfix;
  form {
    width: 100%
  }
  input {
    border:none;
    float: left;
    padding: 15px;
  }
  .entry {
    width:90%;
  }
  .submit {
    width:10%;

  }
}
aside{
  @include rgba('#888', 1);
  .categories{
      li{
        width:100%;
        float:left;
        display:block;
        border-bottom:2px solid #000;
      }
      a{
        width:100%;
        background-color:$gray-light;
        color:$white;
        &:hover{
          background-color:$gray-dar;

        }
      }
  }
}
