// medium break point

@for $i from 1 through $column-count {
    .col-m-#{$i} {
            width       : column-calc($i);
    }
}

.container {
	min-width: em-font($bp-med);
}


.search {
  padding: 12% 20% 12% 20%;

  .entry {
    width: 92%;
  }
  .submit {
    width: 8%;
  }
}

.results-page {
  .search {
    padding: 3% 20%;

  }
}

.result {
  width:25%;
}
.modal-dialog{
  margin: 15% auto;
  width:80%;
  h4{
    font-size:2em;
  }
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

