// small break point

header {
  .identity a {
    width: 250px;
    height: 82px;
  }
  .parent-id {
    float: left;
    a {
      width: 60px;
      height: 60px;
      margin-top: 22px;
    }
  }
  nav {
    clear: none;
    ul {
      text-align: right;
    }
  }
}

.search {
  .entry {
    width: 90%;
  }
  .submit {
    width: 10%;
  }
}
.result {
  width:50%;
  h3{
    font-size:1.2em;
  }
}