body {
  color: $text-color;
  font-family: "Raleway", helvetica, arial, sans-serif;
}

header {
  padding: 1em;

  .identity {
    float: left;
    a {
      margin: 0;
      @include identity(200px, 64px, left, 'bertie-logo.png');
    }
  }

  .parent-id {
    float: right;
    margin: 0;
    a {
      text-decoration: none;
      display: block;
      margin: 14px 0 0 0.8em;
      @include identity(50px, 50px, left, 'bsu-logo.png');
    }
  }
  nav {
    clear:both;
    ul {
      text-align: center;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      @include font-size(14px);
      padding: 0.5em;
      &:hover {
        color: darken($brand-secondary, 20);
        span {
          background: $brand-secondary;
        }
      }
    }
    span {
      padding: .2em .5em;
      background: $brand-danger;
      color: $white;
      @include rounded(5px);
      @include transition(all, 0.5s, ease-in-out);
    }
  }
}

a {
  text-decoration: none;
  @include transition(all, 0.5s, ease-in-out);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.search {
  clear: both;
  padding: 0;
  @include clearfix;

  .entry {
    background: $white;
    width: 80%;
    border-bottom: 1px solid $brand-secondary;
  }
  .submit {
    width: 20%;
    @include replace-text('search.png');
  }
}

label {
  display: none;
}

input {
  color: $text-color;
  font-family: "Raleway", helvetica, arial, sans-serif;
  background: none;
  border: none;
  float: left;
  padding: 15px;
  height: 50px;
}

.results-page {
  .search {
    padding: 0;
  }
}

.categories {
  list-style: none;
  text-align: center;
  margin-bottom: 3em;
  li {
    display: inline-block;
    padding: 0 1.5em;
  }
  a {
    display: block;
    text-decoration: none;
    padding-bottom: 0.2em;
    border-bottom: 1px solid $white;
    @include transition(all, 0.5s, ease-in-out);
    &:hover {
      border-bottom: 1px solid $brand-secondary;
    }
  }
  .active {
    border-bottom: 1px solid $brand-quinary;
    &:hover {
      color: $brand-quinary;
      border-bottom: 1px solid $brand-quinary;
    }
  }
}

.result {
  position:relative;
  margin: 0;
  float: left;
  height: 300px;
  width: 100%;
  padding: 1em;
  text-align: left;
  h3{
    font-size:1.5em;
  }
  .more{
    position:absolute;
    bottom: 10px;
    width:50%;
    right: 10px;
    padding: 0.5em;
    @include border-radius(4px);
    border:none;
    background-color:transparent;
    color:$white;
  }
}

.result:nth-of-type(12n-11){
  background: $brand-success;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-success, 30);
      border-color:darken($brand-success, 30);
    }
  }
}
.result:nth-of-type(12n-10){
  background: $brand-info;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-info, 30);
      border-color:darken($brand-info, 30);
    }
  }
}
.result:nth-of-type(12n-9){
  background: $brand-danger;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-danger, 30);
      border-color:darken($brand-danger, 30);
    }
  }
}
.result:nth-of-type(12n-8){
  background: $brand-purple;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-purple, 30);
      border-color:darken($brand-purple, 30);
    }
  }
}
.result:nth-of-type(12n-7){
  background: $brand-orange;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-orange, 30);
      border-color:darken($brand-orange, 30);
    }
  }
}
.result:nth-of-type(12n-6){
  background: $brand-red;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-red, 30);
      border-color:darken($brand-red, 30);
    }
  }
}
.result:nth-of-type(12n-5){
  background: $brand-ter;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-ter, 30);
      border-color:darken($brand-ter, 30);
    }
  }
}
.result:nth-of-type(12n-4){
  background: $brand-green;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-green, 30);
      border-color:darken($brand-green, 30);
    }
  }
}
.result:nth-of-type(12n-3){
  background: $brand-purple-2;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-purple-2, 30);
      border-color:darken($brand-purple-2, 30);
    }
  }
}
.result:nth-of-type(12n-2){
  background: $brand-orange-2;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-orange-2, 30);
      border-color:darken($brand-orange-2, 30);
    }
  }
}
.result:nth-of-type(12n-1){
  background: $brand-pink;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-pink, 30);
      border-color:darken($brand-pink, 30);
    }
  }
}
.result:nth-of-type(12n){
  background: $brand-yellow;
  color:$white;
  .more{
    border:1px solid  $white;
    color:$white;
    &:hover{
      color:darken($brand-yellow, 30);
      border-color:darken($brand-yellow, 30);
    }
  }
}


.content {
  padding: 0;
}

.results {
  padding: 0;
}

.modal-header {
  border-bottom: none;
  min-height: inherit;
  .modal-title {
    line-height: inherit;
  }
}

.modal-footer {
  border: none;
  .btn {
    width: auto;
  }
}

.extra {
  position: relative;
  background-color: #ECECEC;
  display: none;
  overflow: hidden;
  padding: 1em 0;
  img {
    width: 100%;
  }
}

.title {
  height: 100px;
}

.btn-top {
  background-color: inherit;
}

.owl-dots{
  width:100%;
  background-color: #6D5E51;
  color:$white;
  font-size:1.5em;
  font-weight: bold;
  .active{
    color:#bc3629;
  }
}