body {
  color: $text-color;
  font-family: "Raleway", helvetica, arial, sans-serif;
}

header {
  padding: 1em;

  .identity {
    float: left;
    a {
      margin: 0;
      @include identity(200px, 64px, left, 'bertie-logo.png');
    }
  }

  .parent-id {
    float: right;
    margin: 0;
    a {
      text-decoration: none;
      display: block;
      margin: 14px 0 0 0.8em;
      @include identity(50px, 50px, left, 'bsu-logo.png');
    }
  }
  nav {
    clear: both;
    ul {
      text-align: center;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      @include font-size(14px);
      padding: 0.5em;
      &:hover {
        color: darken($brand-secondary, 20);
        span {
          background: $brand-secondary;
        }
      }
    }
    span {
      padding: .2em .5em;
      background: $brand-danger;
      color: $white;
      @include rounded(5px);
      @include transition(all, 0.5s, ease-in-out);
    }
  }
}

a {
  text-decoration: none;
  @include transition(all, 0.5s, ease-in-out);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.search {
  clear: both;
  padding: 0;
  @include clearfix;

  .entry {
    background: $white;
    width: 80%;
    border-bottom: 1px solid $brand-secondary;
  }
  .submit {
    width: 20%;
    @include replace-text('search.png');
  }
}

label {
  display: none;
}

input {
  color: $text-color;
  font-family: "Raleway", helvetica, arial, sans-serif;
  background: none;
  border: none;
  float: left;
  padding: 15px;
  height: 50px;
}

.results-page {
  .search {
    padding: 0;
  }
}

.categories {
  list-style: none;
  text-align: center;
  margin-bottom: 3em;
  li {
    display: inline-block;
    padding: 0 1.5em;
  }
  a {
    display: block;
    text-decoration: none;
    padding-bottom: 0.2em;
    border-bottom: 1px solid $white;
    @include transition(all, 0.5s, ease-in-out);
    &:hover {
      border-bottom: 1px solid $brand-secondary;
    }
  }
  .active {
    border-bottom: 1px solid $brand-quinary;
    &:hover {
      color: $brand-quinary;
      border-bottom: 1px solid $brand-quinary;
    }
  }
}

.result {
  position: relative;
  color: $white;
  margin: 0;
  float: left;
  height: 300px;
  width: 100%;
  padding: 1em;
  text-align: left;
  h3 {
    font-size: 1.5em;
  }
  .more {
    position: absolute;
    bottom: 10px;
    width: 50%;
    right: 10px;
    padding: 0.5em;
    @include border-radius(4px);
    border: none;
    background-color: transparent;
    color: $white;
    border: 1px solid $white;

    @include transition(all, .5s, ease-in-out);
    &:hover {
      border-color: $white;
      background-color: $white;
    }
  }
}

#all {
  .result:nth-of-type(8n-7) {
    background:$dark-blue-shade-1;
    .more {
      &:hover {
        color: $dark-blue-shade-1;
      }
    }
  }
  .result:nth-of-type(8n-6) {
    background: $dark-blue-shade-3;
    .more {
      &:hover {
        color: $dark-blue-shade-3;
      }
    }
  }
  .result:nth-of-type(8n-5) {
    background: $dark-blue-shade-2;
    .more {
      &:hover {
        color: $dark-blue-shade-2;
      }
    }
  }
  .result:nth-of-type(8n-4) {
    background: $dark-blue-shade-7;
    .more {
      &:hover {
        color: $dark-blue-shade-7;
      }
    }
  }
  .result:nth-of-type(8n-3) {
    background: $dark-blue-shade-5;
    .more {
      &:hover {
        color: $dark-blue-shade-5;
      }
    }
  }
  .result:nth-of-type(8n-2) {
    background: $dark-blue-shade-4;
    .more {
      &:hover {
        color: $dark-blue-shade-4;
      }
    }

  }
  .result:nth-of-type(8n-1) {
    background: $dark-blue-shade-6;
    .more {
      &:hover {
        color: $dark-blue-shade-6;
      }
    }
  }
  .result:nth-of-type(8n) {
    background: $dark-blue-shade-8;
    .more {
      &:hover {
        color: $dark-blue-shade-8;
      }
    }
  }
}

#policy {
  .result:nth-of-type(8n-7) {
    background:$pink-shade-1;
    .more {
      &:hover {
        color: $pink-shade-1;
      }
    }
  }
  .result:nth-of-type(8n-6) {
    background: $pink-shade-3;
    .more {
      &:hover {
        color: $pink-shade-3;
      }
    }
  }
  .result:nth-of-type(8n-5) {
    background: $pink-shade-2;
    .more {
      &:hover {
        color: $pink-shade-2;
      }
    }
  }
  .result:nth-of-type(8n-4) {
    background: $pink-shade-4;
    .more {
      &:hover {
        color: $pink-shade-4;
      }
    }
  }
  .result:nth-of-type(8n-3) {
    background: $pink-shade-5;
    .more {
      &:hover {
        color: $pink-shade-5;
      }
    }
  }
  .result:nth-of-type(8n-2) {
    background: $pink-shade-7;
    .more {
      &:hover {
        color: $pink-shade-7;
      }
    }

  }
  .result:nth-of-type(8n-1) {
    background: $pink-shade-6;
    .more {
      &:hover {
        color: $pink-shade-6;
      }
    }
  }
  .result:nth-of-type(8n) {
    background: $pink-shade-8;
    .more {
      &:hover {
        color: $pink-shade-8;
      }
    }
  }
}

#research {
  .result:nth-of-type(8n-7) {
    background:$green-shade-1;
    .more {
      &:hover {
        color: $green-shade-1;
      }
    }
  }
  .result:nth-of-type(8n-6) {
    background: $green-shade-3;
    .more {
      &:hover {
        color: $green-shade-3;
      }
    }
  }
  .result:nth-of-type(8n-5) {
    background: $green-shade-2;
    .more {
      &:hover {
        color: $green-shade-2;
      }
    }
  }
  .result:nth-of-type(8n-4) {
    background: $green-shade-4;
    .more {
      &:hover {
        color: $green-shade-4;
      }
    }
  }
  .result:nth-of-type(8n-3) {
    background: $green-shade-5;
    .more {
      &:hover {
        color: $green-shade-5;
      }
    }
  }
  .result:nth-of-type(8n-2) {
    background: $green-shade-7;
    .more {
      &:hover {
        color: $green-shade-7;
      }
    }

  }
  .result:nth-of-type(8n-1) {
    background: $green-shade-6;
    .more {
      &:hover {
        color: $green-shade-6;
      }
    }
  }
  .result:nth-of-type(8n) {
    background: $green-shade-8;
    .more {
      &:hover {
        color: $green-shade-8;
      }
    }
  }
}
#comment{
  .result:nth-of-type(8n-7) {
    background:$light-blue-shade-1;
    .more {
      &:hover {
        color: $light-blue-shade-1;
      }
    }
  }
  .result:nth-of-type(8n-6) {
    background: $light-blue-shade-3;
    .more {
      &:hover {
        color: $light-blue-shade-3;
      }
    }
  }
  .result:nth-of-type(8n-5) {
    background: $light-blue-shade-2;
    .more {
      &:hover {
        color: $light-blue-shade-2;
      }
    }
  }
  .result:nth-of-type(8n-4) {
    background: $light-blue-shade-4;
    .more {
      &:hover {
        color: $light-blue-shade-4;
      }
    }
  }
  .result:nth-of-type(8n-3) {
    background: $light-blue-shade-5;
    .more {
      &:hover {
        color: $light-blue-shade-5;
      }
    }
  }
  .result:nth-of-type(8n-2) {
    background: $light-blue-shade-7;
    .more {
      &:hover {
        color: $light-blue-shade-7;
      }
    }

  }
  .result:nth-of-type(8n-1) {
    background: $light-blue-shade-6;
    .more {
      &:hover {
        color: $light-blue-shade-6;
      }
    }
  }
  .result:nth-of-type(8n) {
    background: $light-blue-shade-8;
    .more {
      &:hover {
        color: $light-blue-shade-8;
      }
    }
  }
}
.content {
  padding: 0;
}

.results {
  padding: 0;
}

.modal-header {
  border-bottom: none;
  min-height: inherit;
  .modal-title {
    line-height: inherit;
  }
}

.modal-footer {
  border: none;
  .btn {
    width: auto;
  }
}

.extra {
  position: relative;
  background-color: #ECECEC;
  display: none;
  overflow: hidden;
  padding: 1em 0;
  img {
    width: 100%;
  }
}

.title {
  height: 100px;
}

.btn-top {
  background-color: inherit;
}

.owl-dots {
  width: 100%;
  background-color: #6D5E51;
  color: $white;
  font-size: 1.5em;
  font-weight: bold;
  .active {
    color: #bc3629;
  }
}

.number {
  position: absolute;
  bottom: 20px;
  font-size: 24px;
}

.btn {
  border: 1px solid lighten($brand-primary, 20);
  background-color: $brand-primary;
  color: $white;
  padding: 0.5em;
}

.modal-content {
  position: relative;
  background-color: #faf9f9;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-clip: inherit;
  outline: 0;
}
