body {
  color:$text-color;
  font-family: "Raleway", helvetica, arial, sans-serif;
}
a {
  color:$brand-secondary;
}
header {
  padding: 20px 20px 0 20px;

  .identity a{
    margin: 0;
    @include identity(250px,82px,left,'bertie-logo.png');
  }

  .parent-id {
    float: left;
    margin:0;
    a {
      text-decoration: none;
      display: block;
      margin: 0 0.5em;
      width: 60px;
      height: 60px;
      @include replace-text('bsu-logo.png');
    }
  }
  nav {

    ul {
      list-style: none;

    }
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      @include font-size(14px);
      padding:0.5em;
    }
    a:hover{
      color: darken($brand-secondary, 20);
    }
  }
}

.search {
  clear: both;
  padding: 12% 20% 12% 20%;
  @include clearfix;

  .entry {
    background:$white;
    width: 92%;
  }
  .submit {
    width: 8%;
    @include replace-text('search.png');
  }
}
label {
  display:none;
}
input {
  background:none;
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom: 1px solid $brand-secondary;
  float: left;
  padding: 15px;
  height:50px;
}

.results-page {
  .search {
    padding: 3% 20%;
  }
}

.categories {
  list-style: none;
  text-align:center;
  margin-bottom: 3em;
  li {
    display: inline-block;
    padding: 0 1em;
  }
  .active {
    border-bottom: 1px solid $brand-secondary;
  }
  a {
    padding:0 0 0.5em;
  }
}
.sidemenu {
  background-color: $brand-primary;
  padding: 0;
  height: 100%;
  .categories {
    li {
      width: 100%;
      float: left;
      display: block;
    }
    a {
      float: left;
      width: 100%;
      display: block;
      color: $white;
      padding: 1em;
      &:hover {
        background-color: lighten($brand-primary, 20);
      }
    }
  }
}

.result {
  margin: 1em 0;
  float: left;
  height: auto;

}

.content {
  padding: 0;
}

.results {
  padding: 0;
  border-top: 1px solid $brand-secondary;
}

.btn {
  padding: 1em;
  width: 100%;

  border: none;
  background-color: $brand-primary;
  color: $white;
}

.buttons {
  float: right;
  color: $white;
  height: 100px;
  padding: 0;
  .btn {
    height: 100px;
    background-color: $brand-primary;
    &:hover {
      background-color: lighten($brand-primary, 30);
    }
  }
}

.btn {
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.modal-header {
  border-bottom: none;
  min-height: inherit;
  .modal-title {
    line-height: inherit;
  }
}

.modal-footer {
  border: none;
  .btn {
    width: auto;
  }
}

.extra {
  position: relative;
  background-color: #ECECEC;
  display: none;
  overflow: hidden;
  padding: 1em 0;
  img {
    width: 100%;
  }
}


.title {
  height: 100px;
}

.btn-top {
  background-color: inherit;
}
