// small break point

header {

  .parent-id {
    float: left;
    a {

    }
  }
  nav {
    clear: none;
    ul {
      text-align: right;
    }
  }
}

.search {
  .entry {
    width: 90%;
  }
  .submit {
    width: 10%;
  }
}
.result {
  width:50%;
  h3{
    font-size:1.2em;
  }
}